# OS
.DS_Store

# Environment
.env
.env.*
!.env.example

# Databases
*.sqlite3

# Python
__pycache__/
*.pyc
.venv/
.ruff_cache/
.uv-cache/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!*.tfvars.example
